$color-base: #fafafa;
$color-primary: #3d4148;
$color-accent: #d14b3a;
$color-btn-hover: #ff3c1f;
$color-pgn-border: #abb3c0;
$color-txt-base: #4e5860;
$color-secondary: #656d7a; 
$color-txt-primary: #fafafa;
$color-txt-icon: #303030;
$color-folder: #656d78;
$color-folder-border: #e6e9ed;
$color-bg-icons-post: #dcdddf;
$color-heading-form: #272d32;

$font-base: "Raleway";
$font-primary: "Open Sans";
$font-secondary: "Myriad Pro";
$size-base: 18px;
$width-content: 1170px;
$height-nat: 30px;   
$height-folder: 37px; 
$height-portfolio: 239px;                  

$gradient-line: linear-gradient(to right, #771719 53%,#ff0004 77%);

$margin-button-post: 0 25px 35px;
$padding-main: 0 10px;
