@mixin icons($color) {

    &::after {
    @include nat("", 46%, $height-folder);
    background-color: $color;
    right: 0;
    top: -$height-folder;
    }
    
    &::before {
    @include nat("", 0, 0);
    border: $height-folder/2 solid transparent;
    border-right-color: $color;
    border-bottom-color: $color;
    right: 46%;
    top: -$height-folder;
    }
    }