@mixin proj($color) {
    &::before {
 @include nat("", 49%, $height-nat);
    background-color: $color;
    left: 0;
    bottom: 0;
    }
    
    &::after {
    @include nat("", 0, 0);
    border: $height-nat/2 solid transparent;
    border-left-color: $color;
    border-bottom-color: $color;
    left: 49%;
    bottom: 0;
    }
    }