@font-face {
    font-family: "Monster World";
    src: url("fonts/MonsterWorld.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    src: url("fonts/OpenSans-Light.woff") format("woff");
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    }
    
    @font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    }
    
    @font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    }
    
    @font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    }
    
    @font-face {
    font-family: "Myriad Pro";
    src: url("fonts/MyriadPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    }
    
    @font-face {
    font-family: "Myriad Pro";
    src: url("fonts/MyriadPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }
     
    