

* {
    box-sizing: border-box;
    }
    
    a {
    cursor: pointer;
    }
    
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
    
    html,
    body {
    height: 100%;
    width: 1440px;
    }
    
    .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    }
    
    .container__inner {
    flex: 1 0 auto;
    }
    
    .content {
     max-width: $width-content;
    width: 100%;
    margin: 0 auto;;
    }
    
    .header {
    @include proj($color-accent);
    background-color: $color-primary;
    position: relative;
    }
    
    .menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    
    a {
     @include font($font-base, 300, 18px);
    font-size: $size-base;
    display: block; 
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    color: $color-base;
    
    &.active {
     border-image: $gradient-line;
    border-image-slice: 1; 
    }
    &:hover {
    border-image: $gradient-line;
    border-image-slice: 1; 
    }
    } 
    
    .logo {
    display:block;
    position: relative;
    top: 14px;
    left: 16px;
    text-align: center;
    
    &:hover {
    border-image: none;
    }
    
    &__img {
    padding-bottom: 10px;
    }
    
    &__name {
    text-transform: capitalize;
    font-size: 32px;
    padding: 9px;
    }
    }
    }
    
    .slideshow { 
    padding-top: 145px;
    padding-bottom: 51px;
    }
    
    .slide {
    margin-bottom: 100px;
    
    &__description {
     @include font($font-base, 300, 50px);
    margin: 10px 0;
    color: $color-txt-primary; 
    padding: 6px 254px 14px 0;
    line-height: 65px;
    word-spacing: 4.1px;
    }
    &__title {
    position: relative;
    
    &::before {
    @include nat ("", 210px, 10px);
    background: url() no-repeat;
    left: 0;
    bottom: 5px;
    }
    }
    }
    
    .bcont {
    padding: 34px 0;
    
    }
    
    .btn {
     @include font($font-base, 600, 17px);
    min-width: 151px;
    text-align: center;
    color: $color-txt-primary; 
    user-select: none;
    text-transform: uppercase;
    background: transparent; 
    padding: 14px 0;
    outline: none;
    margin-right: 17px;
    border: 1px solid $color-txt-primary;
    
    &:hover {
    background-color: $color-btn-hover;
    border-color: $color-btn-hover;
    cursor: pointer;
    }
    }
    
    .pagination {
    text-align: center;
    
    &__item {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 1px solid $color-pgn-border;
    margin: 7px;
    
    &.active {
    background-color: $color-base;
    }
    
    &:hover {
    background-color: $color-base;
    }
    }
    }
    
    .paralax-section {
    @include proj($color-secondary);
    padding: 100px 0 139px;
    text-align: center;
    background-color: $color-accent;
    position: relative;
    color: $color-txt-primary;
    }
    
    .blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 879px;
    margin: 0 auto;
    
    &__text {
     @include font($font-secondary, normal, 30px);
    max-width: 878px;
    line-height: 40px;
    word-spacing: 2.1px;
    position: relative;
    
    &::before {
    @include nat("", 65px, 65px);
    background: url() no-repeat;
    top: -18px;
    left: -20px;
    }
    }
    
    &__author {
    align-self: flex-start;
    color: $color-txt-primary;
     @include font($font-primary, 300, 30px);
    padding: 46px 11px;
    }
    }
    
    .stats-section {
        background-color: $color-secondary;
        color: $color-txt-primary;
        padding: 29px 0 96px;
        
        .stats {
            @include font ($font-base, normal, 40px);
            
            &__item {
                float: left;
                width: 23%;
                padding-left: 100px;
                margin-right: 30px;
                
            &:last-child {
                margin-right: 0;
            }
            
            &_count {
                padding: 32px 0;
                position: relative;
                
                &::before {
                    @include nat ("", 45px, 45px);
                }
            }
            
            &_user::before {
            background: url() no-repeat;
            top: 33px;
            left: -75px;
            }
            
            &_cart::before {
            background: url() no-repeat;
            top: 37px;
            left: -71px;
            }
            
            &_comments::before {
            background: url() no-repeat;
            top: 33px;
            left: -77px;
            }
            
            &_file::before {
            background: url() no-repeat;
            top: 32px;
            left: -73px;
            }
            
            &_text {
             @include font ($font-base, 300, 25px);
            }
            
            }
        } 


    }
    
    .blog-section {
    padding: 47px 0;
    
    .title__heading {
    text-transform: capitalize;
    font-weight: bold;
    
    &::after {
    background: $gradient-line;
    bottom: -12px;
    }
    }
    
    .title__description {
    @include font($font-secondary, normal, $size-base);
     
    text-align: center;
    padding: 30px 0px;
    line-height: 25px;
    letter-spacing: -0.1px;
    word-spacing: 0px;
    }
    }
    .post {
    position: relative;
    font-size: 0px;
    padding-top: 34px;
    
    &__item {
    @include font($font-primary, normal, 14px);
    @include folder($color-folder);
    position: relative;
    padding-top: 219px;
    text-transform: capitalize;
    width: 33.33333%;
    max-width: 370px;
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
    margin-right: 30px;
    border: 1px solid $color-folder-border;
    
    &_last {
    margin-right: 0;
    }
    }
    
    &__title {
    padding: 10px 28px 11px;
    border-bottom: 1px solid $color-txt-base;
    position: relative;
    
    a {
    @include font($font-base, normal, 25px);
    letter-spacing: 0.4px;
    
    &:hover {
    color: $color-btn-hover;
    }
    }
    
    &::before {
    @include nat("", 100%, 206px);
    background-color: $color-folder;
    top: -218px;
    left: 1px;
    }
    }
    
    &__info {
    @include font($font-primary, normal, 14px);
    color: $color-txt-icon;
    padding: 0 28px;
    }
    
    &-info {
    position: relative;
    
    &__item {
    display: inline-block;
    position: relative;
    padding: 10px 14px 0 27px;
    
    &::before {
    @include nat("", 20px, 20px);
    }
    
    &_author::before {
    background: url() no-repeat;
    background-size: 14px 13px;
    top: 16px;
    left: -1px;
    }
    
    &_data::before {
    background: url() no-repeat;
    background-size: 15px 14px;
    top: 15px;
    left: -2px;
    }
    
    &_comments:before {
    background: url() no-repeat;
    background-size: 14px 14px;
    padding-right: 0;
    top: 17px;
    left: -3px;
    }
    
    &_comments {
    padding: 10px 0 0 20px;
    }
    }
    }
    
    &__description {
    padding: 13px 28px 20px;
    line-height: 25px;
    text-transform: none;
    }
    
    &__button {
    color: $color-btn-hover; 
    border: 1px solid $color-btn-hover;
    margin: $margin-button-post;
    
    &:hover {
    background-color: $color-btn-hover;
    color: $color-txt-primary;
    }
    }
    }
    
    .portfolio__section {
    
    .title__heading {
    padding: 32px 0 18px 0;
    margin-bottom: 39px;
    
    }
    
    .title__heading::after {
    background: $gradient-line;
    bottom: -2px;
    }
    }
    
    .portfolio-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc((100% - 3px)/4);
    background-color: $color-folder;
    min-height: $height-portfolio;
    color: $color-base;
    text-align: center;
    position: relative;
    }
    
    .portfolio__title {
    @include font($font-primary, 600, 21px);
    padding-bottom: 21px;
    padding-top: 45px;
    }
    
    .portfolio__description {
    @include font($font-primary, normal, 15px);
    word-spacing: 3px;
    }
    
    .icons {
    @include icons($color-bg-icons-post);
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    text-align: right;
    background-color: $color-bg-icons-post;
    min-height: 36px;
    
    &__item {
    display: block;
    text-align: right;
    width: 30px;
    height: 30px;
    
    &_link {
    position: relative;
    background: url() no-repeat;
    background-size: 16px 22px;
    top: 0px;
    right: 61px;
    
    &:hover {
    position: relative;
    background: url() no-repeat;
    background-size: 16px 22px;
    top: 0px;
    right: 61px;
    }
    }
    
    &_zoom {
    position: relative;
    background: url() no-repeat;
    background-size: 22px 22px;
    top: 0px;
    right: 31px;
    
    &:hover {
    position: relative;
    background: url() no-repeat;
    background-size: 22px 22px;
    top: 0px;
    right: 31px;
    }
    }
    }
    }
    }
    
    .contact-section {
    padding: 100px 0;
    
    .title {
    align-items: flex-start;
    
    &__heading {
    text-align: left;
    color: $color-heading-form;
    
    &::after {
    background: $gradient-line;
    bottom: -2px;
    left: 0;
    margin-left: 0;
    }
    }
    }
    }
    
    .footer {
    flex: 0 0 auto;
    }